EDITOR_USERS="Spideyy:Spideyy:Spideyy,0xbumblebee:0xbumblebee:0xbumblebee,Jonsnow:Jonsnow:Jonsnow,l4tmur:l4tmur:l4tmur,Bruceleo:Bruceleo:Bruceleo,HEX:HEX:HEX,ShadowEternity:ShadowEternity:ShadowEternity,Homelander:Homelander:Homelander,JJKings:JJKings:JJKings,Groot:Groot:Groot,p0p3ye:p0p3ye:p0p3ye,Arul_Sujith:Arul_Sujith:Arul_Sujith,MannuG:MannuG:MannuG,0xhyder0:0xhyder0:0xhyder0,Razz:Razz:Razz,Kriz:Kriz:Kriz,rguy:rguy:rguy,Fiction:Fiction:Fiction,zerodawn:zerodawn:zerodawn,s3r14lh3x:s3r14lh3x:s3r14lh3x"
REVALIDATION_SECRET=your-secret-key-here
GITHUB_WEBHOOK_SECRET=your-github-secret
GITHUB_TOKEN=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
GITHUB_OWNER=mathavamoorthi
GITHUB_REPO=tailwind-nextjs-starter-blog